header.page__header
  //- theme-switch
  a.logo(
    href="https://rusauto53.ru"
    title="Автосалон РУС-АВТО | Официальный дилер автомобилей УАЗ и ГАЗ в Великом Новгороде"
    target="_blank" rel="noopener noreferrer"
  )
    img(
      src="./images/logo.png"
      alt="Автосалон РУС-АВТО | Официальный дилер автомобилей УАЗ и ГАЗ в Великом Новгороде"
    )
  include ./_nav
