append vars
  -
    const navItems = [
      {
        'title': 'Автомобили в наличии',
        'pathname': 'cars',
        'subItems': [
          {
            'title': 'Автомобили УАЗ',
            'pathname': 'cars/uaz',
          }, {
            'title': 'Автомобили ГАЗ',
            'pathname': 'cars/gaz',
          }
        ]
      }, {
        'title': 'Б/У автомобили',
        'pathname': 'usedcars',
      }, {
        'title': 'Сервис',
        'pathname': 'service',
        'subItems': [
          {
            'title': 'Услуги автосервиса',
            'pathname': 'service',
          }, {
            'title': 'Запись на ТО или ремонт',
            'pathname': 'request',
          }, {
            'title': 'Калькулятор стоимости ТО',
            'pathname': 'calculator',
          }, {
            'title': 'Каталог запчастей',
            'pathname': 'parts',
          }, {
            'title': 'Статус готовности авто на сервисе',
            'pathname': 'orders',
          }, {
            'title': 'Онлайн трансляция сервисной зоны',
            'pathname': 'online',
          }
        ]
      }, {
        'title': 'МКЦ',
        // 'pathname': 'mkc/index.php',
        'pathname': '',
      }, {
        'title': 'О компании',
        'pathname': 'about',
        'subItems': [
          {
            'title': 'История компании',
            'pathname': 'history',
          }, {
            'title': 'Новости компании',
            'pathname': 'news',
          }, {
            'title': 'Сотрудники компании',
            'pathname': 'employees',
          }, {
            'title': 'Корпоративным клиентам',
            'pathname': 'corporate',
          }, {
            'title': 'Реквизиты компании',
            'pathname': 'requisites',
          }, {
            'title': 'Карьера',
            'pathname': 'career',
          }, {
            'title': 'Контактная информация',
            'pathname': 'contacts',
          }
        ]
      }, {
        'title': 'Спецпредложения',
        'pathname': 'offers',
      },
    ];

nav.nav#Nav
  button.nav__toggle
    | Меню
  ul.nav__items(aria-label="Main Menu")
    each navItem, i in navItems
      if navItem.subItems
        li.nav__item(style={ '--zi': navItems.length - i })
          a.nav__link(
            id=`item0${i+1}`
            href=`${appData.meta.domain}/${navItem.pathname}`
            rel="noopener" target="_blank"
          )
            span.nav__link-text
              | #{navItem.title}
          button(
            type="button"
            id=`btnItem0${i+1}`
            aria-controls=`SubItem0${i+1}`
            aria-expanded="false"
            aria-label="Show"
            aria-labelledby=`btnItem0${i+1} item0${i+1}`
            onclick="toggleSubNav(this.id);"
          )
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80")
              path(d="M70.3 13.8L40 66.3 9.7 13.8z")
          ul.nav__subitems.flow(id=`SubItem0${i+1}` style={'display': 'none'})
            each subItem, i in navItem.subItems
              li.nav__subitem
                a.nav__link(
                  href=`${appData.meta.domain}/${subItem.pathname}`
                  rel="noopener" target="_blank"
                )
                  span.nav__link-text
                    | #{subItem.title}
      else
        li.nav__item(class={'selected': (i+1) === 4})
          a.nav__link(
            id=`item0${i+1}`
            href=`${appData.meta.domain}/${navItem.pathname}`
            rel="noopener" target="_blank"
          )
            span.nav__link-text
              | #{navItem.title}
