//- plain || phone || email
mixin link(props)
  if props.phone
    a(
      class=`${props.base}__link`
      href=`tel:${props.phone.tel}`
    )
      if props.icon
        span(data-icon= props.icon)
      else
        span(class=`${props.base}__link-text` itemprop="telephone")
          | #{props.phone.num}
  else if props.mail
    - let field1 = props.mail.subject ? `?subject=${props.mail.subject}` : ''
    - let field2 = props.mail.body ? `&body=${props.mail.body}` : ''
    a(
      class=`${props.base}__link`
      href=`mailto:${props.mail.to}${field1}${field1 ? field2 : ''}`
      itemprop="email"
    )
      if props.icon
        span(data-icon= props.icon)
      else
        span(class=`${props.base}__link-text`)
          | #{props.mail.to}
  else
    a(href= props.href target="_blank" rel="noopener noreferrer")
      if props.icon
        span(data-icon= props.icon)
      else
        span(class=`${props.base}__link-text`)
          | #{props.text}
