extends ./pug/page

append head
  script.
    var supportsCssVars = function () {
      var e,
          t = document.createElement('style');
      return (
        (t.innerHTML = 'root: { --tmp-var: bold; }'),
        document.head.appendChild(t),
        (e = !!(
          window.CSS &&
          window.CSS.supports &&
          window.CSS.supports('font-weight', 'var(--tmp-var)')
        )),
        t.parentNode.removeChild(t),
        e
      );
    };
    supportsCssVars() || (document.documentElement.className = 'no-css-vars');

block vars
  - let page = appData.pages.index;
  -
    const offers = [
      {
        'title': 'Покраска каждого второго элемента — бесплатно',
        'field': 'Элемент определяется наименьшей ценой оценки',
      }, {
        'title': 'Покраска авто с гарантией',
        'field': 'Целый авто за неделю, один элемент — 2-3 дня.',
      }
    ];
  -
    const advantages = [
      {
        'title': 'Бесплатная эвакуация',
        'text': 'Предоставляем бесплатный эвакуатор в черте города при условии ремонта авто в нашем сервисном центре.',
        'icon': 'location'
      }, {
        'title': 'Быстрое оформление',
        'text': 'Не утомляем бумажной волокитой. Оформление не займёт более 15 минут.',
        'icon': 'speed'
      }, {
        'title': 'Ремонт в кредит',
        'text': 'Кузовной ремонт и окраска автомобиля в рассрочку или кредит на выгодных условиях.',
        'icon': 'discount'
      }, {
        'title': 'СМС уведомления',
        'text': 'Оперативно информируем вас о статусе работ с вашим автомобилем.',
        'icon': 'phone'
      },
    ];
  -
    const guarantees = [
      {
        'title': 'Стапель для кузовного ремонта',
        'text': 'Восстанавливаем геометрию кузова на стапеле с сохранением заводских контрольных точек.',
        'icon': 'car'
      }, {
        'title': '2 покрасочные камеры',
        'text': 'Наши камеры оснащены многоступенчатой системой фильтров, качественной вытяжкой и системой рециркуляции воздуха.',
        'icon': 'aero'
      }, {
        'title': 'Колерная лаборатория',
        'text': 'Осуществляем подбор колера всех типов автоэмалей. Гарантируем точное совпадение с цветом заводского покрытия.',
        'icon': 'colours'
      },
    ];
  -
    const reviews = [
      {
        'rating': '5',
        'title': 'Honda Accord',
        'text': 'Хочу сказать спасибо Андрею, Владимиру и остальным ребятам которые восстановили нашу машинку, за их отличный подход к ситуации.',
        'date': '10.12.20',
        'user': {
          'name': 'Михаил Иванов',
          'avatar': './images/avatars/1.png',
        },
      }, {
        'rating': '5',
        'title': 'Hyundai Creta',
        'text': 'Всегда на связи и всё доходчиво объясняли. Спасибо вам большое за ваше терпение и обслуживание, рекомендую всем кузовной центр «Рус-Авто».',
        'date': '11.11.20',
        'user': {
          'name': 'Максим Смирнов',
          'avatar': './images/avatars/2.png',
        },
      }, {
        'rating': '5',
        'title': 'Volkswagen',
        'text': 'Хочу поблагодарить весь персонал автосервиса за качественную работу и внимательное отношение. Обращался не один раз, и всегда оставался доволен и работой, и уровнем обслуживания.',
        'date': '11.10.20',
        'user': {
          'name': 'Дмитрий Сергеев',
          'avatar': './images/avatars/3.png',
        },
      }, {
        'rating': '5',
        'title': 'Hyundai',
        'text': 'Очень хороший автосервис. Нет порядком надоевших очередей, внимательное отношение к клиентам. Всегда выполняют свою работу на 5 баллов.',
        'date': '10.09.20',
        'user': {
          'name': 'Владимир Донцов',
          'avatar': './images/avatars/4.png',
        },
      },
    ];
  -
    const services = [
      {
        'text': 'Кузовной ремонт',
      }, {
        'text': 'Восстановление геометрии кузова',
      }, {
        'text': 'Сварочные работы',
      }, {
        'text': 'Ремонт пластиковых деталей',
      }, {
        'text': 'Полная и локальная покраска автомобиля',
      }, {
        'text': 'Замена и полировка стекол и фар',
      },
    ];
  -
    const cons = [
      {
        'phone': '+7 (921) 695-12-34',
        'text': 'Сохраните наш номер',
      }, {
        'text': 'Найдите нас в WhatsApp',
      }, {
        'text': 'Пришлите фото своего автомобиля',
      }, {
        'text': 'Получите рассчёт стоимости и сроки выполнения работ',
      },
    ];
  - const count = arr => arr.length;

block content
  .hero
    +slides({
      name: 'slides--1',
      data: offers,
      count: true
    })

  .grid
    .container
      ul.counters.grid__content(data-columns="3")
        li
          | #[span.num.counter(data-count='12')]
          | #[span.overline Лет стабильной работы]
        li
          | #[span.num.counter(data-count='3479')]
          | #[span.overline Окрашенных автомобилей]
        li
          | #[span.num.counter(data-count='5196')]
          | #[span.overline Выполненных работ]

    .container
      .reveal-wrapper.grid__content
        h3.headline.reveal(data-splitting='lines')
          | Преимущества работы с нами
      section.cards.grid__full(data-columns="4")
        each advantage in advantages
          +card({
            view: 'compact',
            head: advantage.title,
            body: advantage.text,
            icon: advantage.icon
          })

    .container
      picture.image-wrapper.grid__start-half
        //- source(data-srcset="./images/1.webp" type="image/webp")
        source(srcset="./images/1.webp" type="image/webp")
        img(
          src="./images/1.jpg"
          alt="Автомобиль" title=""
          width="600" height="400"
          loading="lazy"
        )
      article.grid__end-half.flow
        .reveal-wrapper
          h3.headline.reveal(data-splitting='lines')
            | Полный спектр услуг
        +list({
          items: services,
          ordered: false
        })

    .container
      - let logos = 20
      .carousel(
        data-id="logos0"
        style={ '--columns': logos }
      )
        each logo in Array(logos)
          .item
      .carousel(
        data-id="logos1"
        style={ '--columns': logos }
      )
        each logo in Array(logos)
          .item

    .container
      .reveal-wrapper.grid__content
        h3.headline.reveal(data-splitting='lines')
          | Гарантия высокого качества
      .reveal-wrapper.grid__center
        p.desc(data-splitting='lines')
          | Современное оборудование и материалы, рекомендуемые ведущими производителями.
      section.cards.grid__content(data-columns="3")
        each guarantee in guarantees
          +card({
            view: 'compact',
            head: guarantee.title,
            body: guarantee.text,
            icon: guarantee.icon
          })

    .container
      article.grid__start-half.flow
        .reveal-wrapper
          h3.headline.reveal(data-splitting='lines')
            | Оценка ремонта по фото
        +list({
          items: cons,
          ordered: false
        })
        -
          let label = 'Написать в WhatsApp'
          let phone = 79216951234
          let text = encodeURI('Добрый день! Я по поводу…')
          let link = `https://api.whatsapp.com/send?phone=${phone}&text=${text}`
        a.cta(
          href= link
          target="_blank" rel="noopener noreferrer"
          aria-label= label
        )= label
      picture.image-wrapper.grid__end-half
        //- source(data-srcset="./images/2.webp" type="image/webp")
        source(srcset="./images/2.webp" type="image/webp")
        img(
          src="./images/2.jpg"
          alt="" title=""
          width="600" height="400"
          loading="lazy"
        )

    .container
      section.grid__center
        .reveal-wrapper
          h3.headline.reveal(data-splitting='lines')
            | Сейчас в работе
        .vp-wrapper
          iframe(
            src="https://rtsp.me/embed/ASNiHYZ8/"
            title="Онлайн трансляция работы малярно-кузовного цеха"
            allowfullscreen
            width="800" height="450"
            loading="lazy"
          )

    .container
      .reveal-wrapper.grid__content
        h3.headline.reveal(data-splitting='lines')
          | Нас рекомендуют!
      .column-wrapper.grid__full
        ul.carousel(
          data-id="reviews"
          style=`--columns: ${count(reviews)};`
        )
          each review, i in reviews
            li.item(id=`item${i+1}`)
              +review({
                id: i+1,
                title: review.title,
                text: review.text,
                date: review.date,
                rating: review.rating,
                avatar: review.user.avatar,
                username: review.user.name,
              })
      ul.carousel-control.grid__center
        each i in Array.from(Array(count(reviews)).keys())
          li
            input(type="radio" name="position")&attributes({
              'checked': i === 0
            })

    .container
      #map

block scripts
  script(defer type="module" src="./js/map.js")
  script(nomodule src="./js/map.js")
