extends ./pug/page

append head
  link(rel="preconnect" href="https://api.mapbox.com" crossorigin)
  script(async src="https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js")

block vars
  - let page = appData.pages.index;
  -
    const offers = [
      {
        'title': 'Покраска каждого второго элемента — бесплатно',
        'field': 'Элемент определяется наименьшей ценой оценки',
      }, {
        'title': 'Покраска авто с гарантией',
        'field': 'Целый авто за неделю, один элемент — 2-3 дня.',
      }
    ];
  -
    const advantages = [
      {
        'title': 'Бесплатная эвакуация',
        'text': 'Предоставляем бесплатный эвакуатор в черте города при условии ремонта авто в нашем сервисном центре.',
        'icon': 'location'
      }, {
        'title': 'Быстрое оформление',
        'text': 'Не утомляем бумажной волокитой. Оформление не займёт более 15 минут.',
        'icon': 'speed'
      }, {
        'title': 'Ремонт в кредит',
        'text': 'Кузовной ремонт и окраска автомобилей в рассрочку или кредит на выгодных условиях.',
        'icon': 'discount'
      }, {
        'title': 'СМС-уведомления',
        'text': 'Оперативно информируем вас о статусе работ с вашим автомобилем.',
        'icon': 'mobile'
      },
    ];
  -
    const guarantees = [
      {
        'title': 'Стапель для кузовного ремонта',
        'text': 'Восстанавливаем геометрию кузова на стапеле с сохранением заводских контрольных точек.',
        'icon': 'car'
      }, {
        'title': '2 покрасочные камеры',
        'text': 'Наши камеры оснащены многоступенчатой системой фильтров, качественной вытяжкой и системой рециркуляции воздуха.',
        'icon': 'aero'
      }, {
        'title': 'Колерная лаборатория',
        'text': 'Осуществляем подбор колера всех типов автоэмалей. Гарантируем точное совпадение с цветом заводского покрытия.',
        'icon': 'colours'
      },
    ];
  -
    const reviews = [
      {
        'rating': '5',
        'title': 'Honda Accord',
        'text': 'Хочу сказать спасибо Андрею, Владимиру и остальным ребятам которые восстановили нашу машинку, за их отличный подход к ситуации.',
        'date': '10.12.20',
        'user': {
          'name': 'Михаил Иванов',
          'avatar': './images/avatars/1.png',
        },
      }, {
        'rating': '5',
        'title': 'Hyundai Creta',
        'text': 'Всегда на связи и всё доходчиво объясняли. Спасибо вам большое за ваше терпение и обслуживание, рекомендую всем кузовной центр «Рус-Авто».',
        'date': '11.11.20',
        'user': {
          'name': 'Максим Смирнов',
          'avatar': './images/avatars/2.png',
        },
      }, {
        'rating': '5',
        'title': 'Volkswagen',
        'text': 'Хочу сказать спасибо Андрею, Владимиру и остальным ребятам которые восстановили нашу машинку, за их отличный подход к ситуации.',
        'date': '11.10.20',
        'user': {
          'name': 'Дмитрий Сергеев',
          'avatar': './images/avatars/3.png',
        },
      }, {
        'rating': '5',
        'title': 'Hyundai',
        'text': 'Всегда на связи и всё доходчиво объясняли. Спасибо вам большое за ваше терпение и обслуживание, рекомендую всем кузовной центр «Рус-Авто».',
        'date': '10.09.20',
        'user': {
          'name': 'Владимир Донцов',
          'avatar': './images/avatars/4.png',
        },
      },
    ];
  -
    const services = [
      {
        'listItems': [
          {
            'text': 'Кузовной ремонт',
          }, {
            'text': 'Восстановление геометрии кузова',
          }, {
            'text': 'Сварочные работы',
          }, {
            'text': 'Ремонт пластиковых деталей',
          }, {
            'text': 'Полная и локальная покраска автомобиля',
          }, {
            'text': 'Замена и полировка стекол и фар',
          },
        ]
      }
    ];
  //-
    const services = [
      {
        'listItems': [
          {
            'text': 'Кузовной ремонт',
          }, {
            'text': 'Восстановление геометрии кузова',
          }, {
            'text': 'Сварочные работы',
          },
        ]
      }, {
        'listItems': [
          {
            'text': 'Ремонт пластиковых деталей',
          }, {
            'text': 'Полная и локальная покраска автомобиля',
          }, {
            'text': 'Замена и полировка стекол и фар',
          },
        ]
      }
    ];
  - const count = arr => arr.length;

block content
  .hero
    +slides({
      name: 'slides--1',
      data: offers,
      count: true
    })

  .grid
    .container
      ul.content.counters(data-columns="3")
        li
          | #[span.num.counter(data-count='12')]
          | Лет стабильной работы
        li
          | #[span.num.counter(data-count='3479')]
          | Окрашенных автомобилей
        li
          | #[span.num.counter(data-count='5196')]
          | Выполненных работ

    .container
      h3.headline
        | Преимущества работы с нами
      section.cards.full(data-columns="4")
        each advantage in advantages
          +card({
            view: 'compact',
            head: advantage.title,
            body: advantage.text,
            icon: advantage.icon
          })

    .container
      picture.start-half(style={ '--offset': -1})
        source(srcset="./images/1.webp" type="image/webp")
        img(
          src="./images/1.jpg"
          alt="Автомобиль" title=""
          width="600" height="400"
          loading="lazy"
        )
      article.end-half.flow
        h3.headline
          | Полный спектр услуг
        each service in services
          +list({
            items: service.listItems,
            ordered: false
          })

    .container
      - let logos = 20
      .carousel(
        data-id="logos"
        style={ '--columns': logos }
      )
        each logo in Array(logos)
          .item

    .container
      h3.headline
        | Гарантия высокого качества
      p.desc
        | Современное оборудование и материалы, рекомендуемые ведущими производителями.
      section.cards.content(data-columns="3")
        each guarantee in guarantees
          +card({
            view: 'compact',
            head: guarantee.title,
            body: guarantee.text,
            icon: guarantee.icon
          })

    .container
      article.start-half.flow
        h3.headline
          | Оценка ремонта по фото
        ul
          li
            | #[a(href="tel:+79506862358") Сохраните наш номер +7 950 686-23-58]
          li
            | Найдите нас в WhatsApp
          li
            | Пришлите фото своего автомобиля
          li
            | Получите рассчёт стоимости и сроки выполнения работ
        //- Отправить сообщение WhatsApp
        a.cta(
          aria-label="Отправить фото"
          href="https://api.whatsapp.com/send?phone=79506862358&text=Добрый%20день!" target="_blank" rel="noopener noreferrer"
        )
          | Отправить фото
      picture.end-half
        //- source(srcset="./images/hero/2.webp" type="image/webp")
        img(
          src="./images/repair.png"
          alt="" title=""
          width="600" height="400"
          loading="lazy"
        )

    .container
      section.center
        h3.headline
          | Сейчас в работе
        .vp-wrapper
          iframe(src="https://rtsp.me/embed/AfKbB34A/" loading="lazy" width="600" height="450" frameborder="0" allowfullscreen)

    .container
      h3.headline
        | Нас рекомендуют!
      .column-wrapper
        ul.carousel(
          data-id="reviews"
          style=`--columns: ${count(reviews)};`
        )
          each review, i in reviews
            li.item(id=`item${i+1}`)
              +review({
                id: i+1,
                title: review.title,
                text: review.text,
                date: review.date,
                rating: review.rating,
                avatar: review.user.avatar,
                username: review.user.name,
              })
      ul.carousel-control
        each i in Array.from(Array(count(reviews)).keys())
          li
            input(type="radio" name="position")&attributes({
              'checked': i === 0
            })

    .container
      #map

block scripts
  script(defer type="module" src="./js/map.js")
  script(nomodule src="./js/map.js")
